{% extends "base.html" %}

{% block title %}Your Store{% endblock %}

{% block styles %}
    <style>
    label {
        font-weight: bold;
    }

    .form {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group label {
        display: block;
        margin-bottom: .5rem;
        color: #333;
    }

    .form-group input[type="text"],
    .form-group input[type="file"],
    .form-group textarea {
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-group input[type="text"]:focus,
    .form-group input[type="file"]:focus,
    .form-group textarea:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }

    .form-group input[type="submit"] {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        cursor: pointer;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-group input[type="submit"]:hover {
        background-color: #0056b3;
        border-color: #004085;
    }
</style>
{% endblock %}
    
{% block content %}
<div class="header">Create Products</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" required>
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" required>
        <img id="imagePreview" style="max-width: 30%; height: auto; display: none;">
    </div>
    <div class="form-group">
        <input type="submit" value="Create">
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('image').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block'; // Show the image element
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script>
{% endblock %}