{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block styles %}
<style>
    .item img {
        width: 80%;
        height: auto;
    }

    .location {
        color: rgb(54, 75, 145);
    }

    .username{
        font-style: italic; 
        font-size: larger;
    }

    a{
        text-decoration: none;
        color: rgb(54, 75, 145);
    }

    @media screen and (min-width: 768px){
        div .section{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
        }

        div .item {
            width: 30%;
            margin: 10px;
            padding: 10px;
        }
    }

</style>
{% endblock %}


{% block content %}
<h2>Profile</h2>
<div class="section">
    {% for selfie in selfies %}
    <div class="item">
        <div class="product">
            <a class="username" href="/profile/{{selfie.user.id}}"><p>{{selfie.user}}</p></a>
            <div class="image-container">
                <img src="{{ selfie.image.url }}" alt="Selfie Image">
            </div>
            <p>{{ selfie.review }}</p>
            <a href="/store/{{selfie.store.id}}"><p>#{{ selfie.store }}</p></a>
            <p class="location">{{ selfie.store.location }}</p>
        </div>
    </div>
    {% endfor %}    
</div>
{% endblock %}