{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<style>
    .item img {
        width: auto;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
<div class="section">
    <h2>Store</h2>
    <div class="item">
        <p><b>Store Name:</b> {{ store.store_name }}</p>
        <p><b>Description:</b> {{ store.description }}</p>
        <p><b>Location:</b> {{ store.location }}</p>
        <img src="{{ store.image.url }}" alt="Store Image">
    </div>
</div>
<div class="section">
    <h2>Manage Products</h2>
    {% for product in products %}
    <div class="item">
        <p><b>Product Name:</b> {{ product.name }}</p>
        <p><b>Description:</b> {{ product.description }}</p>
        <p><b>Price:</b> ${{ product.price }}</p>
        <img src="{{ product.image.url }}" alt="Product Image">
    </div>
    {% endfor %}
    <a href="/product/create/{{store.id}}" class="secondary-button">Add Product</a>
</div>
{% endblock %}